{% block header %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="../style.css">

<body>
    <div class="meni">
        <ul>
            <li><a href="/">Register</a></li>
            <li><a href="/login">Log in</a></li>
        </ul>
    </div>
{% endblock %}
{% block body %}{% endblock %}




<!--

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="../style.css">

<body>
    <div class="meni">
        <ul>
            <li><a href="followers.php">Home</a></li>
            <li><a href="followers.php">Friends</a></li>
            <li><a href="change_profile.php">Change profile</a></li>
            <li><a href="change_password.php">Change password</a></li>
            <section class="logout"><li><a href="logout.php">Logout</a></li></section>
        </ul>
    </div>












-->